#!/bin/sh

### create index patterns

# charts
curl -XPUT http://localhost:{{elastic_port}}/{{kinana_index}}/index-pattern/logstash-mapred-finished -d '{"title" : "logstash-mapred-finished",  "timeFieldName": "@timestamp"}'
curl -XPUT http://localhost:{{elastic_port}}/{{kinana_index}}/index-pattern/logstash-mapred-running -d '{"title" : "logstash-mapred-running",  "timeFieldName": "@timestamp"}'
curl -XPUT http://localhost:{{elastic_port}}/{{kinana_index}}/index-pattern/logstash-mapred-aggregated-queue -d '{"title" : "logstash-mapred-aggregated-queue",  "timeFieldName": "@timestamp"}'
curl -XPUT http://localhost:{{elastic_port}}/{{kinana_index}}/index-pattern/logstash-mapred-aggregated-user -d '{"title" : "logstash-mapred-aggregated-user",  "timeFieldName": "@timestamp"}'
curl -XPUT http://localhost:{{elastic_port}}/{{kinana_index}}/index-pattern/logstash-yarn-allocation -d '{"title" : "logstash-yarn-allocation",  "timeFieldName": "@timestamp"}'

# HDFS logs
curl -XPUT http://localhost:{{elastic_port}}/{{kinana_index}}/index-pattern/logstash-hdfs-namenode-log -d '{"title" : "logstash-hdfs-namenode-log",  "timeFieldName": "@timestamp"}'
curl -XPUT http://localhost:{{elastic_port}}/{{kinana_index}}/index-pattern/logstash-hdfs-secondarynamenode-log -d '{"title" : "logstash-hdfs-secondarynamenode-log",  "timeFieldName": "@timestamp"}'
curl -XPUT http://localhost:{{elastic_port}}/{{kinana_index}}/index-pattern/logstash-hdfs-datanode-log -d '{"title" : "logstash-hdfs-datanode-log",  "timeFieldName": "@timestamp"}'
curl -XPUT http://localhost:{{elastic_port}}/{{kinana_index}}/index-pattern/logstash-hdfs-journalnode-log -d '{"title" : "logstash-hdfs-journalnode-log",  "timeFieldName": "@timestamp"}'

# YARN logs
curl -XPUT http://localhost:{{elastic_port}}/{{kinana_index}}/index-pattern/logstash-yarn-nodemanager-log -d '{"title" : "logstash-yarn-nodemanager-log",  "timeFieldName": "@timestamp"}'
curl -XPUT http://localhost:{{elastic_port}}/{{kinana_index}}/index-pattern/logstash-yarn-resourcemanager-log -d '{"title" : "logstash-yarn-resourcemanager-log",  "timeFieldName": "@timestamp"}'
curl -XPUT http://localhost:{{elastic_port}}/{{kinana_index}}/index-pattern/logstash-yarn-timelineserver-log -d '{"title" : "logstash-yarn-timelineserver-log",  "timeFieldName": "@timestamp"}'

# HBSE logs
curl -XPUT http://localhost:{{elastic_port}}/{{kinana_index}}/index-pattern/logstash-hbase-master-log -d '{"title" : "logstash-hbase-master-log",  "timeFieldName": "@timestamp"}'
curl -XPUT http://localhost:{{elastic_port}}/{{kinana_index}}/index-pattern/logstash-hbase-regionserver-log -d '{"title" : "logstash-hbase-regionserver-log",  "timeFieldName": "@timestamp"}'
curl -XPUT http://localhost:{{elastic_port}}/{{kinana_index}}/index-pattern/logstash-hbase-phoenix-log -d '{"title" : "logstash-hbase-phoenix-log",  "timeFieldName": "@timestamp"}'

# Zookeeper logs
curl -XPUT http://localhost:{{elastic_port}}/{{kinana_index}}/index-pattern/logstash-zookeeper-server-log -d '{"title" : "logstash-zookeeper-server-log",  "timeFieldName": "@timestamp"}'

# HIVE logs
curl -XPUT http://localhost:{{elastic_port}}/{{kinana_index}}/index-pattern/logstash-hive-metastore-log -d '{"title" : "logstash-hive-metastore-log",  "timeFieldName": "@timestamp"}'
curl -XPUT http://localhost:{{elastic_port}}/{{kinana_index}}/index-pattern/logstash-hive-server2-log -d '{"title" : "logstash-hive-server2-log",  "timeFieldName": "@timestamp"}'
curl -XPUT http://localhost:{{elastic_port}}/{{kinana_index}}/index-pattern/logstash-hive-webhcat-log -d '{"title" : "logstash-hive-webhcat-log",  "timeFieldName": "@timestamp"}'

### set default index patterns
curl -XPUT http://localhost:{{elastic_port}}/{{kinana_index}}/config/4.5.4 -d '{"defaultIndex" : "logstash-mapred-running"}'