output {
  if [type] == "{{mapred_elastic_index}}" {
    elasticsearch {
      hosts => [{% for node in elastic_data_hosts %}"{{node}}:{{elastic_port}}"{% if not loop.last %},{% endif %}{% endfor %}]
      index => "logstash-{{mapred_elastic_index}}"
    }
  }
}