[
  {
    "_id": "mr-finished",
    "_type": "search",
    "_source": {
      "title": "mr-finished",
      "description": "",
      "hits": 0,
      "columns": [
        "_source"
      ],
      "sort": [
        "_score",
        "desc"
      ],
      "version": 1,
      "kibanaSavedObjectMeta": {
        "searchSourceJSON": "{\"index\":\"mylogstash-yarn-apps\",\"filter\":[],\"highlight\":{\"pre_tags\":[\"@kibana-highlighted-field@\"],\"post_tags\":[\"@/kibana-highlighted-field@\"],\"fields\":{\"*\":{}},\"require_field_match\":false,\"fragment_size\":2147483647},\"query\":{\"query_string\":{\"query\":\"appState: FINISHED AND appType: MAPREDUCE\",\"analyze_wildcard\":true}}}"
      }
    }
  },
  {
    "_id": "spark-finished",
    "_type": "search",
    "_source": {
      "title": "spark-finished",
      "description": "",
      "hits": 0,
      "columns": [
        "_source"
      ],
      "sort": [
        "@timestamp",
        "desc"
      ],
      "version": 1,
      "kibanaSavedObjectMeta": {
        "searchSourceJSON": "{\"index\":\"mylogstash-yarn-apps\",\"filter\":[],\"highlight\":{\"pre_tags\":[\"@kibana-highlighted-field@\"],\"post_tags\":[\"@/kibana-highlighted-field@\"],\"fields\":{\"*\":{}},\"require_field_match\":false,\"fragment_size\":2147483647},\"query\":{\"query_string\":{\"query\":\"appType:SPARK AND appState:FINISHED\",\"analyze_wildcard\":true}}}"
      }
    }
  },
  {
    "_id": "mr-run",
    "_type": "search",
    "_source": {
      "title": "mr-run",
      "description": "",
      "hits": 0,
      "columns": [
        "_source"
      ],
      "sort": [
        "@timestamp",
        "desc"
      ],
      "version": 1,
      "kibanaSavedObjectMeta": {
        "searchSourceJSON": "{\"index\":\"mylogstash-yarn-apps\",\"filter\":[],\"highlight\":{\"pre_tags\":[\"@kibana-highlighted-field@\"],\"post_tags\":[\"@/kibana-highlighted-field@\"],\"fields\":{\"*\":{}},\"require_field_match\":false,\"fragment_size\":2147483647},\"query\":{\"query_string\":{\"analyze_wildcard\":true,\"query\":\"appType:MAPREDUCE AND appState:RUNNING\"}}}"
      }
    }
  },
  {
    "_id": "spark-run",
    "_type": "search",
    "_source": {
      "title": "spark-run",
      "description": "",
      "hits": 0,
      "columns": [
        "_source"
      ],
      "sort": [
        "@timestamp",
        "desc"
      ],
      "version": 1,
      "kibanaSavedObjectMeta": {
        "searchSourceJSON": "{\"index\":\"mylogstash-yarn-apps\",\"filter\":[],\"highlight\":{\"pre_tags\":[\"@kibana-highlighted-field@\"],\"post_tags\":[\"@/kibana-highlighted-field@\"],\"fields\":{\"*\":{}},\"require_field_match\":false,\"fragment_size\":2147483647},\"query\":{\"query_string\":{\"query\":\"appType:SPARK AND appState:RUNNING\",\"analyze_wildcard\":true}}}"
      }
    }
  },
  {
    "_id": "queues",
    "_type": "search",
    "_source": {
      "title": "queues",
      "description": "",
      "hits": 0,
      "columns": [
        "_source"
      ],
      "sort": [
        "@timestamp",
        "desc"
      ],
      "version": 1,
      "kibanaSavedObjectMeta": {
        "searchSourceJSON": "{\"index\":\"mylogstash-yarn-running\",\"filter\":[],\"highlight\":{\"pre_tags\":[\"@kibana-highlighted-field@\"],\"post_tags\":[\"@/kibana-highlighted-field@\"],\"fields\":{\"*\":{}},\"require_field_match\":false,\"fragment_size\":2147483647},\"query\":{\"query_string\":{\"query\":\"(NOT queue: None) AND (NOT appId:None)\",\"analyze_wildcard\":true}}}"
      }
    }
  },
  {
    "_id": "log-hdfs-journalnode",
    "_type": "search",
    "_source": {
      "title": "log-hdfs-journalnode",
      "description": "",
      "hits": 0,
      "columns": [
        "loglevel",
        "host",
        "content"
      ],
      "sort": [
        "_score",
        "desc"
      ],
      "version": 1,
      "kibanaSavedObjectMeta": {
        "searchSourceJSON": "{\"index\":\"logstash-hdfs-log\",\"query\":{\"query_string\":{\"query\":\"type: hdfs.journalnode\",\"analyze_wildcard\":true}},\"filter\":[],\"highlight\":{\"pre_tags\":[\"@kibana-highlighted-field@\"],\"post_tags\":[\"@/kibana-highlighted-field@\"],\"fields\":{\"*\":{}},\"require_field_match\":false,\"fragment_size\":2147483647}}"
      }
    }
  },
  {
    "_id": "log-hdfs-namenode",
    "_type": "search",
    "_source": {
      "title": "log-hdfs-namenode",
      "description": "",
      "hits": 0,
      "columns": [
        "loglevel",
        "host",
        "content"
      ],
      "sort": [
        "_score",
        "desc"
      ],
      "version": 1,
      "kibanaSavedObjectMeta": {
        "searchSourceJSON": "{\"index\":\"logstash-hdfs-log\",\"query\":{\"query_string\":{\"query\":\"type: hdfs.namenode\",\"analyze_wildcard\":true}},\"filter\":[],\"highlight\":{\"pre_tags\":[\"@kibana-highlighted-field@\"],\"post_tags\":[\"@/kibana-highlighted-field@\"],\"fields\":{\"*\":{}},\"require_field_match\":false,\"fragment_size\":2147483647}}"
      }
    }
  },
  {
    "_id": "log-hdfs-datanode",
    "_type": "search",
    "_source": {
      "title": "log-hdfs-datanode",
      "description": "",
      "hits": 0,
      "columns": [
        "loglevel",
        "host",
        "content"
      ],
      "sort": [
        "_score",
        "desc"
      ],
      "version": 1,
      "kibanaSavedObjectMeta": {
        "searchSourceJSON": "{\"index\":\"logstash-hdfs-log\",\"query\":{\"query_string\":{\"query\":\"type: hdfs.datanode\",\"analyze_wildcard\":true}},\"filter\":[],\"highlight\":{\"pre_tags\":[\"@kibana-highlighted-field@\"],\"post_tags\":[\"@/kibana-highlighted-field@\"],\"fields\":{\"*\":{}},\"require_field_match\":false,\"fragment_size\":2147483647}}"
      }
    }
  },
  {
    "_id": "log-hbase-regionserver",
    "_type": "search",
    "_source": {
      "title": "log-hbase-regionserver",
      "description": "",
      "hits": 0,
      "columns": [
        "loglevel",
        "host",
        "content"
      ],
      "sort": [
        "_score",
        "desc"
      ],
      "version": 1,
      "kibanaSavedObjectMeta": {
        "searchSourceJSON": "{\"index\":\"logstash-hbase-log\",\"query\":{\"query_string\":{\"query\":\"type:hbase.regionserver\",\"analyze_wildcard\":true}},\"filter\":[],\"highlight\":{\"pre_tags\":[\"@kibana-highlighted-field@\"],\"post_tags\":[\"@/kibana-highlighted-field@\"],\"fields\":{\"*\":{}},\"require_field_match\":false,\"fragment_size\":2147483647}}"
      }
    }
  },
  {
    "_id": "log-yarn-resourcemanager",
    "_type": "search",
    "_source": {
      "title": "log-yarn-resourcemanager",
      "description": "",
      "hits": 0,
      "columns": [
        "loglevel",
        "host",
        "content"
      ],
      "sort": [
        "_score",
        "desc"
      ],
      "version": 1,
      "kibanaSavedObjectMeta": {
        "searchSourceJSON": "{\"index\":\"logstash-yarn-log\",\"query\":{\"query_string\":{\"query\":\"type:yarn.resourcemanager\",\"analyze_wildcard\":true}},\"filter\":[],\"highlight\":{\"pre_tags\":[\"@kibana-highlighted-field@\"],\"post_tags\":[\"@/kibana-highlighted-field@\"],\"fields\":{\"*\":{}},\"require_field_match\":false,\"fragment_size\":2147483647}}"
      }
    }
  },
  {
    "_id": "log-yarn-timelineserver",
    "_type": "search",
    "_source": {
      "title": "log-yarn-timelineserver",
      "description": "",
      "hits": 0,
      "columns": [
        "loglevel",
        "host",
        "content"
      ],
      "sort": [
        "_score",
        "desc"
      ],
      "version": 1,
      "kibanaSavedObjectMeta": {
        "searchSourceJSON": "{\"index\":\"logstash-yarn-log\",\"query\":{\"query_string\":{\"query\":\"type:yarn.timelineserver\",\"analyze_wildcard\":true}},\"filter\":[],\"highlight\":{\"pre_tags\":[\"@kibana-highlighted-field@\"],\"post_tags\":[\"@/kibana-highlighted-field@\"],\"fields\":{\"*\":{}},\"require_field_match\":false,\"fragment_size\":2147483647}}"
      }
    }
  },
  {
    "_id": "log-hbase-phoenix",
    "_type": "search",
    "_source": {
      "title": "log-hbase-phoenix",
      "description": "",
      "hits": 0,
      "columns": [
        "loglevel",
        "host",
        "content"
      ],
      "sort": [
        "_score",
        "desc"
      ],
      "version": 1,
      "kibanaSavedObjectMeta": {
        "searchSourceJSON": "{\"index\":\"logstash-hbase-log\",\"query\":{\"query_string\":{\"query\":\"type:hbase.phoenix\",\"analyze_wildcard\":true}},\"filter\":[],\"highlight\":{\"pre_tags\":[\"@kibana-highlighted-field@\"],\"post_tags\":[\"@/kibana-highlighted-field@\"],\"fields\":{\"*\":{}},\"require_field_match\":false,\"fragment_size\":2147483647}}"
      }
    }
  },
  {
    "_id": "log-yarn-nodemanager",
    "_type": "search",
    "_source": {
      "title": "log-yarn-nodemanager",
      "description": "",
      "hits": 0,
      "columns": [
        "loglevel",
        "host",
        "content"
      ],
      "sort": [
        "_score",
        "desc"
      ],
      "version": 1,
      "kibanaSavedObjectMeta": {
        "searchSourceJSON": "{\"index\":\"logstash-yarn-log\",\"query\":{\"query_string\":{\"query\":\"type:yarn.nodemanager\",\"analyze_wildcard\":true}},\"filter\":[],\"highlight\":{\"pre_tags\":[\"@kibana-highlighted-field@\"],\"post_tags\":[\"@/kibana-highlighted-field@\"],\"fields\":{\"*\":{}},\"require_field_match\":false,\"fragment_size\":2147483647}}"
      }
    }
  },
  {
    "_id": "log-hbase-master",
    "_type": "search",
    "_source": {
      "title": "log-hbase-master",
      "description": "",
      "hits": 0,
      "columns": [
        "loglevel",
        "host",
        "content"
      ],
      "sort": [
        "_score",
        "desc"
      ],
      "version": 1,
      "kibanaSavedObjectMeta": {
        "searchSourceJSON": "{\"index\":\"logstash-hbase-log\",\"query\":{\"query_string\":{\"query\":\"type:hbase.master\",\"analyze_wildcard\":true}},\"filter\":[],\"highlight\":{\"pre_tags\":[\"@kibana-highlighted-field@\"],\"post_tags\":[\"@/kibana-highlighted-field@\"],\"fields\":{\"*\":{}},\"require_field_match\":false,\"fragment_size\":2147483647}}"
      }
    }
  },
  {
    "_id": "log-zookeeperServer",
    "_type": "search",
    "_source": {
      "title": "log-zookeeperServer",
      "description": "",
      "hits": 0,
      "columns": [
        "loglevel",
        "host",
        "content"
      ],
      "sort": [
        "_score",
        "desc"
      ],
      "version": 1,
      "kibanaSavedObjectMeta": {
        "searchSourceJSON": "{\"index\":\"logstash-zookeeper-log\",\"query\":{\"query_string\":{\"query\":\"*\",\"analyze_wildcard\":true}},\"filter\":[],\"highlight\":{\"pre_tags\":[\"@kibana-highlighted-field@\"],\"post_tags\":[\"@/kibana-highlighted-field@\"],\"fields\":{\"*\":{}},\"require_field_match\":false,\"fragment_size\":2147483647}}"
      }
    }
  },
  {
    "_id": "log-hive-server2",
    "_type": "search",
    "_source": {
      "title": "log-hive-server2",
      "description": "",
      "hits": 0,
      "columns": [
        "loglevel",
        "host",
        "content"
      ],
      "sort": [
        "_score",
        "desc"
      ],
      "version": 1,
      "kibanaSavedObjectMeta": {
        "searchSourceJSON": "{\"index\":\"logstash-hive-log\",\"query\":{\"query_string\":{\"query\":\"type: hive.server2\",\"analyze_wildcard\":true}},\"filter\":[],\"highlight\":{\"pre_tags\":[\"@kibana-highlighted-field@\"],\"post_tags\":[\"@/kibana-highlighted-field@\"],\"fields\":{\"*\":{}},\"require_field_match\":false,\"fragment_size\":2147483647}}"
      }
    }
  },
  {
    "_id": "log-hive-metastore",
    "_type": "search",
    "_source": {
      "title": "log-hive-metastore",
      "description": "",
      "hits": 0,
      "columns": [
        "loglevel",
        "host",
        "content"
      ],
      "sort": [
        "_score",
        "desc"
      ],
      "version": 1,
      "kibanaSavedObjectMeta": {
        "searchSourceJSON": "{\"index\":\"logstash-hive-log\",\"query\":{\"query_string\":{\"query\":\"type: hive.metastore\",\"analyze_wildcard\":true}},\"filter\":[],\"highlight\":{\"pre_tags\":[\"@kibana-highlighted-field@\"],\"post_tags\":[\"@/kibana-highlighted-field@\"],\"fields\":{\"*\":{}},\"require_field_match\":false,\"fragment_size\":2147483647}}"
      }
    }
  },
  {
    "_id": "log-hive-webhcat",
    "_type": "search",
    "_source": {
      "title": "log-hive-webhcat",
      "description": "",
      "hits": 0,
      "columns": [
        "_source"
      ],
      "sort": [
        "@timestamp",
        "desc"
      ],
      "version": 1,
      "kibanaSavedObjectMeta": {
        "searchSourceJSON": "{\"index\":\"logstash-hive-log\",\"query\":{\"query_string\":{\"analyze_wildcard\":true,\"query\":\"type: hive.webhcat\"}},\"filter\":[],\"highlight\":{\"pre_tags\":[\"@kibana-highlighted-field@\"],\"post_tags\":[\"@/kibana-highlighted-field@\"],\"fields\":{\"*\":{}},\"require_field_match\":false,\"fragment_size\":2147483647}}"
      }
    }
  },
{% for queue in queueNames %}
  {
    "_id": "queue-{{queue}}",
    "_type": "search",
    "_source": {
      "title": "queue-{{queue}}",
      "description": "",
      "hits": 0,
      "columns": [
        "_source"
      ],
      "sort": [
        "@timestamp",
        "desc"
      ],
      "version": 1,
      "kibanaSavedObjectMeta": {
        "searchSourceJSON": "{\"index\":\"mylogstash-yarn-running\",\"query\":{\"query_string\":{\"query\":\"queue: {{queue}}\",\"analyze_wildcard\":true}},\"filter\":[],\"highlight\":{\"pre_tags\":[\"@kibana-highlighted-field@\"],\"post_tags\":[\"@/kibana-highlighted-field@\"],\"fields\":{\"*\":{}},\"require_field_match\":false,\"fragment_size\":2147483647}}"
      }
    }
  },
  {
    "_id": "spark-finished-{{queue}}",
    "_type": "search",
    "_source": {
      "title": "spark-finished-{{queue}}",
      "description": "",
      "hits": 0,
      "columns": [
        "_source"
      ],
      "sort": [
        "_score",
        "desc"
      ],
      "version": 1,
      "kibanaSavedObjectMeta": {
        "searchSourceJSON": "{\"index\":\"mylogstash-yarn-apps\",\"query\":{\"query_string\":{\"query\":\"appType:SPARK AND appState:FINISHED AND queue: {{queue}}\",\"analyze_wildcard\":true}},\"filter\":[],\"highlight\":{\"pre_tags\":[\"@kibana-highlighted-field@\"],\"post_tags\":[\"@/kibana-highlighted-field@\"],\"fields\":{\"*\":{}},\"require_field_match\":false,\"fragment_size\":2147483647}}"
      }
    }
  },
  {
    "_id": "mr-finished-{{queue}}",
    "_type": "search",
    "_source": {
      "title": "mr-finished-{{queue}}",
      "description": "",
      "hits": 0,
      "columns": [
        "_source"
      ],
      "sort": [
        "_score",
        "desc"
      ],
      "version": 1,
      "kibanaSavedObjectMeta": {
        "searchSourceJSON": "{\"index\":\"mylogstash-yarn-apps\",\"query\":{\"query_string\":{\"query\":\"appType:MAPREDUCE AND appState:FINISHED AND queue: {{queue}}\",\"analyze_wildcard\":true}},\"filter\":[],\"highlight\":{\"pre_tags\":[\"@kibana-highlighted-field@\"],\"post_tags\":[\"@/kibana-highlighted-field@\"],\"fields\":{\"*\":{}},\"require_field_match\":false,\"fragment_size\":2147483647}}"
      }
    }
  },
  {
    "_id": "finished-{{queue}}",
    "_type": "search",
    "_source": {
      "title": "finished-{{queue}}",
      "description": "",
      "hits": 0,
      "columns": [
        "_source"
      ],
      "sort": [
        "@timestamp",
        "desc"
      ],
      "version": 1,
      "kibanaSavedObjectMeta": {
        "searchSourceJSON": "{\"index\":\"mylogstash-yarn-apps\",\"query\":{\"query_string\":{\"query\":\"queue: {{queue}} AND (appState: FINISHED OR FAILED OR KILLED)\",\"analyze_wildcard\":true}},\"filter\":[],\"highlight\":{\"pre_tags\":[\"@kibana-highlighted-field@\"],\"post_tags\":[\"@/kibana-highlighted-field@\"],\"fields\":{\"*\":{}},\"require_field_match\":false,\"fragment_size\":2147483647}}"
      }
    }
  }{% if not loop.last %},
{% endif %}{% endfor %}

]
