{% raw %}
{
  "template": "logstash-*-log",
  "mappings": {
    "_default_": {
      "_ttl": {
        "enabled": true,
        "default": "3d"
      },
      "properties" : {
          "timestamp" : {
              "type" : "date",
              "format" : "yyyy-MM-dd HH:mm:ss,SSSZ||yyyy-MM-dd HH:mm:ss.SSSZ||strict_date_optional_time||epoch_millis"
          }
       }
    }
  }
}
{% endraw %}
